header {
    min-height: 70vh;
    padding-top: 12vh;
    background: linear-gradient(45deg, var(--gray), 70%, var(--purpleD1));
}

header .h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    opacity: 0.7;
}
.btn{
    background: var(--purple);
}

/* PARAGRAFI SA SLIKAMA */
.paragraf-sa-slikom {}

.paragraf-sa-slikom:last-of-type {}

.imageContainer {
    width: 100% !important;
    margin: 0 auto;
    left:0;
}
.imageContainer::after{
    background: linear-gradient(to right, var(--gray), var(--purpleD1))
}

.paragraf-sa-slikom p {
    margin-top: 1rem;
}

.paragraf-sa-slikom img {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
}

/* CORE TEAM */

.card {
    padding: 2rem;
    padding-bottom: 1rem;
    width: 300px;
    transition: all 0.2s;
    box-shadow: 3px 2px 5px 0.1px var(--purpleD1), 0px 1px 3px 0px var(--purpleD1);
}

.card:hover {
    scale: 0.99;
    filter: brightness(0.99999);
}

.card img {
    width: 100%;
    object-fit: cover;
    image-rendering: optimizeQuality;
}

#Nikola{
    object-fit: fill;
}

.card-body {
    padding-bottom: 0;
}

.card-title {
    margin-bottom: 0;
    font-size: 1.1rem;
}

.card-subtitle {
    font-weight: 500;
    margin-top: 0.1rem;
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    color: var(--purple);
}

.organiserContact {}

.organiserContact i {
    font-size: 1.6rem;
    color: var(--purple);
}